@import url(./../../../styelsGlobal/mainColors.css);

.mainAnimCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    /* background-color: rgba(255, 0, 0, 0.479); */
}

.Comments_Content_Modal__S1 {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--Primary-Color-03);
    border: 1px solid var(--BorderColor-1);
    overflow: hidden;
    transition: all .5s ease;
}

.contenAnimCard_S1{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 255, 0.322); */
    padding: 20px;
    /* overflow: hidden; */
    z-index: 100;
}

.backgroundBTN__LiveWork {
    display: flex;
    position: relative;
    background-color: rgba(0, 255, 255, 0.445);
    z-index: 10;
    /* overflow: hidden; */
}

.circleColor_LiveWork{
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #353535;
    position: absolute;
    z-index: 10;
    bottom: -100px;
    right: -100px;
    box-shadow: 0 0 60px 30px #242424;
    -webkit-filter: blur(50px);
}


/* .mainAnimCard:hover .anim_BG_01 {
    transform: scale(0.8);
}
.mainAnimCard:hover .anim_Icons_02 {
    transform: scale(1.2) rotate(10deg);
}
.mainAnimCard:hover .anim_Star_03 {
    transform: scale(1.4) rotate(-40deg);
} */


/* contenAnimCard_S1 */

