.mainAnimCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    /* background-color: rgba(255, 0, 0, 0.479); */
}


/* .mainAnimCard:hover .anim_BG_01 {
    transform: scale(0.8);
}
.mainAnimCard:hover .anim_Icons_02 {
    transform: scale(1.2) rotate(10deg);
}
.mainAnimCard:hover .anim_Star_03 {
    transform: scale(1.4) rotate(-40deg);
} */


/* contenAnimCard_S1 */

