@import url(./../../styelsGlobal/mainColors.css);

:root {
    /*  Sizes  */
    --Btn-Modal-Size-1: 50px;
    --Btn-Modal-Resize-1: 40px;
    --Img-PP-Size-1: 60px;


    --BorderColor-1: #ffffff0a;
    --BorderColor-2: #ffffff25;
}

.mainContainer_ModalS1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    top: 0;
    left: 0;
    gap: 30px;
    opacity: 1;
    transition: opacity .3s ease;
}

/*  BOTONES    ////------> */
.rightOptiosModal_S1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 30px;
}

.btnModal_S1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--Btn-Modal-Size-1);
    min-height: var(--Btn-Modal-Size-1);
    line-height: 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--Primary-Color-03);
    color: var(--ColorMain-03);
    border: 1px solid var(--BorderColor-1);
    transition: all .5s ease, background-color .2s ease;
}

.btnModal_S1 i {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.closeModal_S1 {
    background-color: var(--Primary-Color-04);
}

.btnModal_S1:hover {
    color: white;
    background-color: var(--Primary-Color-04);
}

.closeModal_S1:hover {
    color: white;
    opacity: 70%;
}

.btnModal_S1:active {
    color: white;
    opacity: 100%;
    background-color: var(--Primary-Color-01);
}




/* CENTER CONTENT ---------> */

.contentCenterAllIn_Modal_S1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    gap: 20px;
}

.contentCenterAllIn_Modal_S1::-webkit-scrollbar {
    margin-left: 10px;
}

/* Ocultar barra de desplazamiento en Firefox */
.contentCenterAllIn_Modal_S1 {
    scrollbar-width: none;
}

.verColor {
    background-color: aqua;
}

.contentCenterModal_S1,
.Comments_Content_ModalS1 {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--Primary-Color-03);
    border: 1px solid var(--BorderColor-1);
    overflow: hidden;
    transition: all .5s ease;
}


/* LEFT CONTENT    ---------> */
.leftInfoModal_S1 {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: var(--Primary-Color-03);
    margin-left: 30px;
    border-radius: 25px;
    transition: all .5s ease;
    border: 1px solid var(--BorderColor-1);
    padding: 28px 15px;
    gap: 35px;
}

.topLeftInfo_S1 {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 15px;
    object-fit: cover;
}

.profilePicture_ModalS1 {
    width: var(--Img-PP-Size-1);
    border-radius: 50%;
    background-color: var(--ColorMain-02);
}

.authorInf_ModalS1 {
    display: flex;
    flex-direction: column;
}

.tittleName_ModalS1,
.tittlePlace_ModalS1 {
    color: var(--ColorMain-03);
}

.tittlePlace_ModalS1 {
    opacity: 30%;
    font-size: 7.7pt;
}

/* Center INF */
.leftCenterInfo_ModalS1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nameProject_ModalS1 {
    display: flex;
    flex-direction: column;
    color: var(--ColorMain-03);
    line-height: 0%;
}

.dateProject {
    opacity: 30%;
    font-size: 10pt;
    letter-spacing: 1px;
    margin-bottom: 8px;
}


.titleProject_ModalS1 {
    font-size: 11pt;
}


.descBreveProject_ModalS1 {
    opacity: 60%;
    color: var(--ColorMain-03);
    font-size: 10pt;
    text-align: justify;
    margin: 0px;

}


.bottomLeftInf_S1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--ColorMain-03);
}


.itemInffoProyct_S1 {
    display: flex;
    opacity: 60%;
    gap: 5px;
    font-size: 8pt;
}


/*  ------------------>   INFO    */
.info_Portfolio_S1 {
    display: flex;
    gap: 20px;
}

.tam_S1 {
    flex: 1;
}

.tam_S2 {
    overflow: hidden;
}
.contentInto_S1{
    display: flex;
    flex-direction: column;
    padding: 13px 17px;
}

.tittleTool_S1{
    color: var(--Primary-Color-05);
}


/*  ------------------>   COMMENTS    */

.contentComments_ALL {
    position: relative;
    padding-top: 50px;
}

.Comments_Content_ModalS1 {
    position: relative;
    overflow: visible;
}

.topComments_S1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    height: 100px;
    position: absolute;
    right: 0;
    left: 0;
}

.circleComment_S1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--Primary-Color-02);
    border-radius: 50%;
    overflow: hidden;
    font-size: 30px;
    z-index: 100;
    border: 10px solid var(--Primary-Color-03);
    top: -50px;
    color: var(--Primary-Color-01);
}

.circleComment_S1 i {
    margin: 0;
    line-height: 0;
}

.sepComments_S1 {
    position: absolute;
    width: 150px;
    height: 50px;
    top: -20px;
    z-index: -20;
    border-radius: 50px;
    border: 3px solid var(--Primary-Color-01);
}

.advertenciaComments_Header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: var(--ColorMain-03);
    margin-top: 20px;
}

.advertenciaComments_Header h1 {
    font-size: 20px;
    margin-top: 20px;
}



/*   ---------------------->   CENTER CONTENT    */
.modalContentFFull_S1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    box-sizing: border-box;
    gap: 20px;
}

/* CENTER CONTENT ---------> */
.Comments_Content_Modal__S1{
    overflow: hidden;
}
.contentCenterModal_S1 {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--Primary-Color-03);
    border: 1px solid var(--BorderColor-1);
}

.infoAll_ModalS1 {
    display: flex;
    gap: 20px;
}

.modify1_S1{
    width: auto;
    padding: 16px 20px;
}

.modify2_S1{
    padding: 15px 20px;
}

