@import url('./../../../../styelsGlobal/mainColors.css');

.mainTemplate_01_Porfolio {
    display: flex;
    gap: 25px;
}

.imgContainer_Style_S1 {
    display: flex;
    flex: 1;
    position: relative;
}

.imgTemplate_S1 {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.degradedImgTemplate {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 100;
    background: rgb(31, 31, 31);
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.98) 0%, rgba(31, 31, 31, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
}

/* TEXT TEMPLATE */

.textContainer_PortfS1 {
    display: flex;
    flex: .7;
    flex-direction: column;
    text-align: right;
}

.titleTemplate01_S1 {
    color: var(--ColorMain-03);
    font-size: 25pt;
    margin: 0;
    padding: 0;
}

.textParagraph_S1 {
    text-align: justify;
    text-align-last: right;
    color: var(--ColorMain-03-mid);
    opacity: 50%;
    font-size: 10pt;
}

.text_Template01_S1 {
    display: flex;
    flex-direction: column;
}

.tittleListItems_S1 {
    color: var(--ColorMain-03);
    font-size: 15pt;
    margin: 20px 0;
    padding: 0;
}


.listItems_template01 {
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: right;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.itemTemplate_S1 {
    direction: rtl;
    color: var(--Primary-Color-05);
    font-size: 10pt;
}

.itemTemplate_S1::marker {
    opacity: 100%;
    color: var(--Primary-Color-01);
    font-size: 12pt;
    opacity: 100%;
}